@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/inter_medium.eot'),
    url('./fonts/inter_medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/inter_medium.woff2') format('woff2'),
    url('./fonts/inter_medium.woff') format('woff'),
    url('./fonts/inter_medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/inter_black.eot'),
    url('./fonts/inter_black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/inter_black.woff2') format('woff2'),
    url('./fonts/inter_black.woff') format('woff'),
    url('./fonts/inter_black.ttf') format('truetype');
}

.content {
  width: 80vw;
  overflow-x: hidden;
  margin: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.title {
  margin: 0 auto;
  width: 50%;
  padding: 40px 0 20px;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  border-bottom: 1px solid #c0c0c0;
}

.bayan-container {
  margin: 10px auto;
  width: 50%;
  color: blue;
}

.bayan-container:hover {
  color: #000;
  transition: all 0.3s ease;
}

.bayan-item {
  position: relative;
  margin-bottom: 10px;
}

.bayan-item__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

.bayan-item__trigger {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 50px;
  border-bottom: 1px solid #c0c0c0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.bayan-item__meme {
  width: 500px;
  height: 500px;
  align-self: center;
}

.bayan-container:hover .bayan-item__trigger::after {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('./images/arrow-down-solid.svg');
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s ease;
}

.bayan-item__input:checked + .bayan-item__trigger {
  height: 550px;
}

.bayan-container:hover
  .bayan-item__input:checked
  + .bayan-item__trigger::after {
  background-image: url('./images/arrow-up-solid.svg');
}

.bayan-item__trigger:hover {
  height: 550px;
  transition: all 0.3s ease;
}

.bayan-container:hover .bayan-item__trigger:hover::after {
  background-image: url('./images/arrow-up-solid.svg');
  transition: all 0.3s ease;
}

.footer {
  height: 500px;
  display: block;
}
